<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public\css\style.css" type="text/css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Workouts</a></li>
            <li><a href="">Register/Login</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>
    <h1>
        The excercise database - All your workouts in one place!
    </h1>
    <section>
        <form>
            <div class="container">
                <label>Username : </label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <label>Password : </label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <label>Repeat Password : </label>
                <input type="password" placeholder="Repeat Password" name="password-repeat" required>
                <button type="submit">Register</button>
            </div>
        </form>
    </section>
</body>

</html>