body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

h1 {
    text-align: center;
    padding: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.mainpage-upper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
}

.mainpage-upper img {
    max-width: 30%; 
    height: auto; 
}

.text-container {
    flex: 1; 
    margin-right: 20px; 
}

.image-container {
    display: flex;
    flex: 1; 
    justify-content: center;
}

.useraccountpart {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.useraccountpart p {
    font-size: 1.2em;
}

.button-container {
    margin-top: 20px;
}

button.login,
button.register {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

button.login:hover,
button.register:hover {
    background-color: #555;
}


.desription{
    font-size: 20px;
    text-align:left;
    padding: 20px;
    border-radius: 5px;
}

.form-container {
    width: 80%; 
    max-width: 400px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 20px;
    max-width: 95%;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .form-submit-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .form-link {
    color: #007BFF;
    text-decoration: none;
  }
  
  .form-link:hover {
    text-decoration: underline;
  }

  .workouts a{
        padding:10px;
  }